---
createdAt: "2026-03-28"
updatedAt: "2026-03-28"
title: Phase 4 - Type systems & static verification
journey: plt
status: on-hold
order: 4
books: []
concepts: []
---

