---
published: true
author: hdnax
createdAt: "2026-03-28"
updatedAt: "2026-03-28"
title: "Phase 5 - program logics & verification"
journey: plt
status: on-hold
order: 5
books: []
concepts: []
---

