---
published: true
author: hdnax
createdAt: "2026-03-28"
updatedAt: "2026-03-28"
title: "Phase 4 - type systems & static verification"
journey: plt
status: on-hold
order: 4
books: []
concepts: []
---

